<template>
  <div>
    <h3>About</h3>
    <v-btn to="home">Home</v-btn>
    <v-btn @click="doLogOut">Logout</v-btn>
  </div>
</template>

<script>
export default {
  name: "about",
  methods: {
      doLogOut() {
        this.$store.dispatch("appStore/SET_LOGGED_OUT", false);
      },
  }

};
</script>