<template>
  <!-- eslint-disable -->

  <div>
    <h3>Home</h3>
    <v-btn to="about">About</v-btn>

    <v-list>
      <v-list-item v-for="user in users" :key="user.email">
        <v-list-item-content>
          <v-list-item-title v-text="user.forename+' '+user.surname "></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      users: []
    };
  },
  mounted() {
    this.$store.dispatch("userStore/GET_USER_LIST").then(()=> {
        this.users = this.$store.state.userStore.users;
    })
  },
};
</script>
