<template>
  <!-- eslint-disable -->
  <v-content class="content">
    <v-container fill-height>
      <v-layout align-center justify-center wrap>
        <v-flex xs12 sm8 md6>
          <v-card class="elevation-24">
            <div class="title green lighten-4 text-center">
              <h3 class="grey--text">
                <span>TODO</span>
                <span class="green--text">SS</span>
              </h3>
            </div>
            <v-card-text>
              <v-text-field v-model="email" placeholder="e-mail" />
              <v-text-field v-model="password" placeholder="Password" type="password" />
            </v-card-text>
            <v-card-actions>
              <v-btn text @click="gotoRegister" dark color="green">
                <v-icon left>mdi-account-plus</v-icon>REGISTER
              </v-btn>

              <v-spacer></v-spacer>
              <v-btn @click="doLogin" color="success">
                <v-icon left>mdi-login</v-icon>LOGIN
              </v-btn>
            </v-card-actions>
            <v-alert v-model="showAlert" type="error">{{ alertMsg }}</v-alert>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
      showAlert: false,
      alertMsg: ""
    };
  },
  methods: {
    doLogin() {
      var me = this;
      me.alertMsg = "";
      me.showAlert = false;
      this.$store
        .dispatch("appStore/SET_LOGGED_IN", {
          email: me.email,
          password: me.password
        })
        .then(result => {
          if (result.data.err) {
            me.showAlert = true;
            me.alertMsg = result.data.msg;
          } 
          else if (!result.data.token) {
            me.showAlert = true;
            me.alertMsg = 'No Token Found';
          }
        })
        .catch(err => {
          me.showAlert = true;
          me.alertMsg = err;
        });
    },
    gotoRegister() {
      this.$router.push("register");
    }
  }
};
</script>

<style scoped>
.content {
  /*background-image: linear-gradient(white, green, white);*/
  background-image: url("~@/assets/BG_TODOSS.png");
  background-repeat: repeat;
}
</style>
