<template>
  <v-content class="content">
    <v-container fill-height>
      <v-layout align-center justify-center wrap>
        <v-flex xs12 sm8 md6>
          <v-card>
            <div class="title green lighten-4 text-center">
              <h3 class="grey--text">
                <span>TODO</span>
                <span class="green--text">SS</span>
              </h3>
            </div>
            <v-card-text>
              <v-text-field v-model="email" placeholder="e-mail" />
              <v-text-field v-model="password" placeholder="Password" type="password" />
              <v-text-field v-model="name" placeholder="Name" />
              <v-text-field v-model="surname" placeholder="Surname" />
            </v-card-text>
            <v-card-actions>
              <v-btn text @click="gotoLogin" dark color="green">
                <v-icon left>mdi-account-plus</v-icon>LOGIN
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn @click="doRegister" color="success">
                <v-icon left>mdi-login</v-icon>REGISTER
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
      doRegister() {

      },
      gotoLogin () {
          this.$router.push('login')
      }
  }
};
</script>

<style scoped>
.content {
    background-image: linear-gradient(white, green, white);
}
</style>
