<template>
<!-- eslint-disable -->

  <v-app class="app">
    <router-view>
    </router-view>  
  </v-app>
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  data: () => ({
    //
  }),
};
</script>

<style>
.app {
  background-color: #F3F3F3  
}
</style>